<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>583527128111-btbk2lvrnksc6j5cqlqs2sv5gp6jro6a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.583527128111-btbk2lvrnksc6j5cqlqs2sv5gp6jro6a</string>
	<key>API_KEY</key>
	<string>AIzaSyCsDS62MSpOb2SavoP0mQKTxWEz9Nfm4ks</string>
	<key>GCM_SENDER_ID</key>
	<string>583527128111</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.groceryApp</string>
	<key>PROJECT_ID</key>
	<string>kory-care</string>
	<key>STORAGE_BUCKET</key>
	<string>kory-care.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583527128111:ios:1c3fdddc3ba4326732bada</string>
</dict>
</plist>